target/*
!target/*.jar
.classpath
.gradle/
.project
.settings/
.idea/
.vscode/
coverage*
dist/
trash/
./config.toml
cpu.prof
mem.prof
*.test
trace.out
.coverage
.DS_Store
*.prof
*.out
.profiles/
.traces/
.coverage/
.logs/
*.iml
